// Footer
footer
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        ul.list-inline.text-center
          li.list-inline-item
            a(href="https://twitter.com/griecomv")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-twitter.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href="https://www.facebook.com/griecovillamizar")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-facebook.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href="https://github.com/mariogrieco/redditClient")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-github.fa-stack-1x.fa-inverse
        p.copyright.text-muted Mario Grieco 2017
script(src="/vendor/jquery/jquery.min.js")
script(src="/vendor/popper/popper.min.js")
script(src="/vendor/bootstrap/js/bootstrap.min.js")
script(src="/js/clean-blog.min.js")
link(rel="stylesheet", href="css/my.css")
script(src="https://www.googletagmanager.com/gtag/js?id=UA-107762482-1")
script(src="/js/analytics.js")