doctype html
html(lang="en", ng-app="redditClient")
  include head
    // Navigation
  //- include nav
    // Page Header
  body
    // Page Header
    header.masthead(style="background-image: url('')")
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .post-heading
              h1 TITLE
              h2.subheading subreddit
              p.post-meta
                span
                  | Posted by
                  a(href="#") author
                span
                  | on created
                span.items-meta.pull-right
                  //- span
                    i.fa.fa-thumbs-up(aria-hidden="true")
                    | #{post.data.likes}
                  span
                    i.fa.fa-comments-o(aria-hidden="true")
                    | num_comments
                  span
                    i.fa.fa-level-up(aria-hidden="true")
                    | score
    // Post Content
    article
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .card
              .card-body
                h4.card-title Card title
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional   content.           This content is a little bit longer.
                p.card-text
                  small.text-muted Last updated 3 mins ago
    hr
    // Footer
    include footer
